<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Formulario categoria</h4>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <div class="row">
                            <div class="col-8">
                                <h2>
                                    <strong>Categoria</strong>
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="body">
                        <form class="m-4" [formGroup]="form" (ngSubmit)="submit()">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Nombre de categoria</mat-label>
                                        <input matInput formControlName="name" required>
                                        <mat-icon matSuffix>work_outline</mat-icon>
                                        <mat-error *ngIf="form.get('name').hasError('required')">
                                            Nombre de categoria es requerido
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-12">
                                    <mat-form-field style="width: 100%;" appearance="fill">
                                        <mat-label>Imagenes</mat-label>
                                        <ngx-mat-file-input #removableInputImagenes formControlName="image"
                                            accept="image/png, image/jpeg" placeholder="Imágenes">
                                        </ngx-mat-file-input>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 col-md-3" style="margin-bottom: 2rem;"
                                    *ngFor="let img of imagenes; let ix = index">
                                    <div class="card">
                                        <div class="card-body">
                                            <img [src]="img.archivo" width="100%">
                                            <a class="card-link" style="cursor: pointer;" (click)="removeImage(img.id)">Quitar</a>
                                        </div>
                                    </div>
                                </div>
                            </div>                      
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                                    <button class="mr-3" [disabled]="!form.valid || imagenes.length == 0" mat-raised-button
                                        color="primary">Guardar</button>
                                    <button type="button" (click)="cancel()" mat-button>Cancelar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>