<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Formulario orden de pedido</h4>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <div class="row">
                            <div class="col-8">
                                <h2>
                                    <strong>Orden de pedido</strong>
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="body">
                        <form class="m-4" [formGroup]="form" (ngSubmit)="submit()">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Clientes</mat-label>
                                        <input disabled [value]="cliente(clientes?.client_id)?.name" matInput  >
                                        <mat-icon matSuffix>work_outline</mat-icon>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Vendedor</mat-label>
                                        <input disabled [value]="vendedores(clientes?.user_id)?.name" matInput  >
                                        <mat-icon matSuffix>work_outline</mat-icon>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Fecha</mat-label>
                                        <input disabled [value]="clientes?.date" matInput  >
                                        <mat-icon matSuffix>work_outline</mat-icon>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Tipo de documento</mat-label>
                                        <input disabled matInput value="Orden de pedido">
                                        <mat-icon matSuffix>work_outline</mat-icon>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Cuentas por cobrar</mat-label>
                                        <mat-select formControlName="accounts_receivable_id" required>
                                          <mat-option *ngFor="let cuentas of listCuentasPorCobrar" [value]="cuentas.id"><strong>Consecutivo: </strong>{{cuentas.id}} <strong>Valor: </strong>{{cuentas.value}}</mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="form.get('accounts_receivable_id').hasError('required')">
                                            Cuentas por cobrar es requerido
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Fecha de entrega</mat-label>
                                        <input matInput formControlName="date_of_delivery" type="date" required>
                                        <mat-error *ngIf="form.get('date_of_delivery').hasError('required')">
                                            Fecha de entrega es requerido
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Fecha de vencimiento</mat-label>
                                        <input matInput formControlName="due_date" type="date" required>
                                        <mat-error *ngIf="form.get('due_date').hasError('required')">
                                            Fecha de vencimiento es requerido
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Estado</mat-label>
                                        <mat-select formControlName="status" required>
                                          <mat-option *ngFor="let status of listStatus" [value]="status.nombre">{{status.nombre}}</mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="form.get('status').hasError('required')">
                                            Estado es requerido
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Cantidad</mat-label>
                                        <input matInput formControlName="quantity" type="number" required>
                                        <mat-icon matSuffix>work_outline</mat-icon>
                                        <mat-error *ngIf="form.get('quantity').hasError('required')">
                                            Cantidad es requerido
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Subtotal</mat-label>
                                        <input matInput formControlName="subtotal" type="number" required>
                                        <mat-icon matSuffix>work_outline</mat-icon>
                                        <mat-error *ngIf="form.get('subtotal').hasError('required')">
                                            Subtotal es requerido
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Descuento</mat-label>
                                        <input matInput formControlName="discount" type="number" required>
                                        <mat-icon matSuffix>work_outline</mat-icon>
                                        <mat-error *ngIf="form.get('discount').hasError('required')">
                                            Descuento es requerido
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Impuesto</mat-label>
                                        <input matInput formControlName="tax" type="number" required>
                                        <mat-icon matSuffix>work_outline</mat-icon>
                                        <mat-error *ngIf="form.get('tax').hasError('required')">
                                            Impuesto es requerido
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Total</mat-label>
                                        <input matInput formControlName="total" type="number" required>
                                        <mat-icon matSuffix>work_outline</mat-icon>
                                        <mat-error *ngIf="form.get('total').hasError('required')">
                                            Total es requerido
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                                    <button class="mr-3" [disabled]="!form.valid" mat-raised-button
                                        color="primary">Guardar</button>
                                    <button type="button" (click)="cancel()" mat-button>Cancelar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>