<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Inbox de despachos</h4>
                            <h6 class="page-subtitle">Seleccione las referencias para el despacho</h6>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <div class="row">
                        <div class="col-8">
                            <h2>
                                <strong>Lista de despachos</strong>
                            </h2>
                        </div>
                    </div>
                </div>

                <!-- tabla en tamaño escritorio -->

                <div class="body table-responsive d-none d-sm-none d-md-block">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Filtrar</mat-label>
                        <input matInput (keyup)="applyFilter($event)" placeholder="termino de busqueda">
                    </mat-form-field>

                    <table mat-table [dataSource]="dataSource3" class="w-100 text-center">
                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef class="text-center"> Id </th>
                            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                        </ng-container>
                        <ng-container matColumnDef="observaciones">
                            <th mat-header-cell *matHeaderCellDef class="text-center"> Observaciones </th>
                            <td mat-cell *matCellDef="let element"> {{element.observaciones}} </td>
                        </ng-container>
                        <ng-container matColumnDef="creado">
                            <th mat-header-cell *matHeaderCellDef class="text-center"> Creado </th>
                            <td mat-cell *matCellDef="let element"> {{element.fechaCreacion | date}} </td>
                        </ng-container>
                        <ng-container matColumnDef="usuario">
                            <th mat-header-cell *matHeaderCellDef class="text-center"> Creado por </th>
                            <td mat-cell *matCellDef="let element">{{getUser(element?.creadoPor)?.firstName}}
                                {{getUser(element?.creadoPor)?.lastName}} </td>
                        </ng-container>
                        <ng-container matColumnDef="accion">
                            <th mat-header-cell *matHeaderCellDef class="text-center"> Acciones </th>
                            <td mat-cell *matCellDef="let element">
                                <button mat-stroked-button color="default" class="btn"
                                    [routerLink]="['./form', element.id]">
                                    Gestionar
                                </button>
                                <button mat-stroked-button color="warn" class="btn" (click)="borrar(element.id)">
                                    Borrar
                                </button>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>

                <!-- tarjetas en tamaño responsive -->

                <div class="d-block d-sm-block d-md-none text-center">
                    <div class="card border-secondary mb-5 mx-5" *ngFor="let tarjetasDespachos of tarjetasDespacho">
                        <div class="card-header">ID: <span class="h5">{{tarjetasDespachos.id}}</span></div>
                        <div class="card-body text-secondary p-1">
                            <h6 class="">Observaciones</h6>
                            <h5 class="card-title">{{tarjetasDespachos.observaciones}}</h5>
                            <h6 class="">Creado</h6>
                            <h5 class="card-title">{{tarjetasDespachos.fechaCreacion | date}}</h5>
                            <h6 class="">Creado por</h6>
                            <h5 class="card-title">{{getUser(tarjetasDespachos?.creadoPor)?.firstName}}
                                {{getUser(tarjetasDespachos?.creadoPor)?.lastName}}</h5>

                            <button mat-flat-button color="primary" class="btn my-3 d-block float-right mr-3" [routerLink]="['./form', tarjetasDespachos.id]">
                            Gestionar
                            </button>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>