::ng-deep .mat-tab-body-content {
    height: 100%;
    overflow: hidden!important;
}

.green {
    background-color: #28a745!important;
    color: white!important;
}

.yellow {
    background-color: #b7c203!important;
    color: white!important;
}

.red {
    background-color: red!important;
    color: white!important;
}