.referenciaAsignada{
    background-color: #28a745!important;
    color: #fff !important;
    h6 {
        color: #fff !important;
    }
    h5{
        color: #fff !important;
    }
    .text-muted {
        color: #fff !important;
    }
}

.format-pre pre {
    background: #49483e;
    color: #f7f7f7;
    padding: 10px;
    font-size: 1.5rem;
  }

.textColor {
    color: #28a745!important;
}

.aparecerBoton {
    display: block!important;
    margin-right: 15px;
    float: right;
    margin-top: 10px;
    margin-bottom: 15px;
}

.card {
    box-shadow: 2px 3px 5px #000;
}

h5 {
    text-align: initial;
    margin-left: 6px;
}

h6{
    text-align: initial;
    margin-left: 6px;
}

::ng-deep .mat-chip-list-wrapper {
    display: block!important;
    margin: 15px!important;
}