<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Formulario productos</h4>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2>Producto</h2>
                    </div>
                    <div class="body">
                            <div class="row">
                                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 mb-3">
                                    <mat-card class="example-card">
                                        <mat-card-title class="card-text mt-2 h4">Descripción detallada del producto</mat-card-title>
                                        <mat-card-content class="mb-1" *ngFor="let productos of producto">
                                            <p>{{productos.description}}</p>
                                        </mat-card-content>
                                        <mat-card-title class="card-text mt-2 h4">Valor del producto</mat-card-title>
                                        <mat-card-content class="mb-1" *ngFor="let productos of producto">
                                            <p>{{productos.price}}</p>
                                        </mat-card-content>
                                        <mat-card-title class="card-text mt-2 h4">Unidades disponibles</mat-card-title>
                                        <mat-card-content class="mb-1" *ngFor="let productos of producto">
                                            <p>{{productos.available}}</p>
                                        </mat-card-content>
                                    </mat-card>
                                </div>
                                <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 mb-3">
                                    <mat-card class="example-card">
                                        <div *ngFor="let image of producto">
                                              <div class="carousel-item active">
                                                <img class="d-block w-100" [src]="image.image" alt="foto del producto">
                                              </div>
                                          </div>
                                    </mat-card>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                                    <button class="mr-3" mat-raised-button
                                        color="primary" (click)="ok()">ok</button>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>