<h1 mat-dialog-title>Asignar usuario</h1>
<div mat-dialog-content class="mat-typography">

    <form [formGroup]="form">
        <mat-form-field class="example-full-width">
            <mat-label>Seleccione un usuario</mat-label>
            <mat-select formControlName="asignadoA">
                <mat-option *ngFor="let despachadores of ListDespachadores" [value]="despachadores.id">
                    {{despachadores?.firstName}}</mat-option>
            </mat-select>
        </mat-form-field>
    </form>

    <p>
        NOTA: Los usuarios que se muestran a continución son de rol "Despachador"
    </p>

</div>

<mat-dialog-actions align="end">
    <button mat-button (click)="cancel()">Cancelar</button>
    <button mat-button [mat-dialog-close]="" cdkFocusInitial (click)="onSubmit()">Asignar</button>
  </mat-dialog-actions>