<h2 mat-dialog-title class="text-center">DETALLES DE LA VISITA</h2>
<mat-dialog-content class="mat-typography">

    <h3 mat-dialog-title class="text-center"><strong>#id: </strong><span class="text-muted">{{data?.nombreCliente}}</span></h3>
    <h3 mat-dialog-title class="text-center"><strong>Cliente: </strong><span class="text-muted">{{getClientes(data?.nombreCliente)?.name}}</span></h3>
    <h3 mat-dialog-title class="text-center"><strong>Nombre contacto: </strong><span class="text-muted">{{getClientes(data?.nombreCliente)?.contact_name}}</span></h3>
    <h3 mat-dialog-title class="text-center"><strong>Telefono cliente: </strong><span class="text-muted">{{getClientes(data?.nombreCliente)?.phone}}</span></h3>
    <h3 mat-dialog-title class="text-center"><strong>Dirección: </strong><span class="text-muted">Calle 17 a # 8a-71, Mosquera</span></h3>
    <h3 mat-dialog-title class="text-center"><strong>Vendedor: </strong><span class="text-muted">{{getVendedores(data.vendedor)?.name}}</span></h3>
    <h3 mat-dialog-title class="text-center"><strong>Observaciones: </strong><span class="text-muted">{{data?.observaciones}}</span></h3>
        
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cerrar</button>
</mat-dialog-actions>

