<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Formulario Clientes</h4>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <div class="row">
                            <div class="col-8">
                                <h2>
                                    <strong>Cliente</strong>
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="body">
                        <form class="m-4" [formGroup]="form" (ngSubmit)="submit()">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Vendedor</mat-label>
                                        <mat-select formControlName="user_id" required>
                                          <mat-option *ngFor="let vendedores of listVendedores" [value]="vendedores.id">{{vendedores.name}}</mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="form.get('user_id').hasError('required')">
                                            Vendedor es requerido
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Nombre cliente</mat-label>
                                        <input matInput formControlName="name" required>
                                        <mat-icon matSuffix>work_outline</mat-icon>
                                        <mat-error *ngIf="form.get('name').hasError('required')">
                                            Nombre es requerido
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Telefono</mat-label>
                                        <input matInput formControlName="phone" required>
                                        <mat-icon matSuffix>work_outline</mat-icon>
                                        <mat-error *ngIf="form.get('phone').hasError('required')">
                                            Telefono es requerido
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Condiciones de pago</mat-label>
                                        <mat-select formControlName="payment_terms" required>
                                          <mat-option value="Contado">Contado</mat-option>
                                          <mat-option value="15 dias">15 dias</mat-option>
                                          <mat-option value="30 dias">30 dias</mat-option>
                                          <mat-option value="45 dias">45 dias</mat-option>
                                          <mat-option value="60 dias">60 dias</mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="form.get('payment_terms').hasError('required')">
                                            Condiciones de pago es requerido
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Nombre de contacto</mat-label>
                                        <input matInput formControlName="contact_name" required>
                                        <mat-icon matSuffix>work_outline</mat-icon>
                                        <mat-error *ngIf="form.get('contact_name').hasError('required')">
                                            Nombre de contacto es requerido
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Ciudad</mat-label>
                                        <input matInput formControlName="city" required>
                                        <mat-icon matSuffix>work_outline</mat-icon>
                                        <mat-error *ngIf="form.get('city').hasError('required')">
                                            Ciudad es requerido
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Barrio</mat-label>
                                        <input matInput formControlName="neighborhood" required>
                                        <mat-icon matSuffix>work_outline</mat-icon>
                                        <mat-error *ngIf="form.get('neighborhood').hasError('required')">
                                            Barrio es requerido
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Calle</mat-label>
                                        <input matInput formControlName="street" required>
                                        <mat-icon matSuffix>work_outline</mat-icon>
                                        <mat-error *ngIf="form.get('street').hasError('required')">
                                            Calle es requerido
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Numero dirección</mat-label>
                                        <input matInput formControlName="number" required>
                                        <mat-icon matSuffix>work_outline</mat-icon>
                                        <mat-error *ngIf="form.get('number').hasError('required')">
                                            Telefono es requerido
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                                    <button class="mr-3" [disabled]="!form.valid" mat-raised-button
                                        color="primary">Guardar</button>
                                    <button type="button" (click)="cancel()" mat-button>Cancelar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>