<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Maestro de configuración</h4>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <div class="row">
                        <div class="col-8">
                            <h2>
                                <strong>Categorias</strong>
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="row px-5">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 mb-5" *ngFor="let categories of categorias" >
                        <mat-card class="example-card" [routerLink]="['./listCategory/',categories.id]" style="cursor: pointer;">
                            <img mat-card-image [src]="categories.image" alt="Photo of a Shiba Inu" class="m-0">
                            <mat-card-content class="mb-1">
                                <mat-card-title class="card-text text-center mt-2" style="font-size: 20px;">{{categories.name}}</mat-card-title>
                            </mat-card-content>
                          </mat-card>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</section>
